[Unit]
Description=Partner

[Service]
Type=dbus
BusName=org.fpemud.Partner
ExecStart=/usr/sbin/partner-daemon --user

[Install]
WantedBy=default.target
